// colors
$black: #000000;
$white: #ffffff;
$whiteGray: #f1f2f2;
$darkGray: #dddddd;
$extraDarkGray: #656565;
$lightGray: #eeeeee;
$errorRed: #e6635a;
$lightGreen: #5acfb9;
$successGreen: #5fca7d;
$green: #365e3b;
$lightGreen: #f1fff3;
$opaqueGreen: #5fca7d4d;
$wittyPurple: #9489db;
$orange: #f06464;
// fonts
$lato: Lato, Arial, Helvetica, sans-serif;
// font weights
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$exblack: 900;
