@import "../../styles/variables";

:host {}

.error-box {
  border: 1px solid $darkGray;
  background-color: $white;
  border-radius: 8px;
  margin-bottom: 0.5em;
  padding: 1em;
  font-family: $lato;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .preview {
      flex-grow: 1;
    }

    .toggle {
      margin-left: 0.5em;

      &.active {
        img {
          transform: rotate(180deg);
        }
      }
    }

    button {
      background-color: transparent;
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 5px;
      outline-offset: 4px;
    }
  }

  .suggestions {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid $darkGray;

    .suggestion-title {
      font-size: 16px;
      color: $black;
      margin-bottom: 8px;
    }

    .suggestion-link {
      text-decoration: none;
      color: $black;
      white-space: nowrap;
      outline-offset: 4px;
    }

    .ignore-button-container {
      text-align: right;
      padding-top: 8px;
      border-top: 1px solid $darkGray;

      button {
        margin-right: 0;
        margin-bottom: 0;
        outline-offset: 4px;
      }
    }
  }
}

.witty-works-ext-button-group {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-wrap: nowrap;

  button:focus {
    outline-offset: 4px;
  }
}

.witty-works-ext-wittyworks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5em;

  h3 {
    margin-bottom: 5px;
  }
}

.witty-works-ext-rephrasing {
  display: -webkit-box;
  /* Number of lines */
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  ins {
    color: blue !important;
  }

  del {
    color: red !important;
  }
}

.witty-works-ext-container-rounded {
  border-radius: 8px;
}

.witty-works-ext-full-padding {
  padding: 1.5em;
}

.witty-works-ext-justify-start {
  justify-content: flex-start;
}

.witty-works-ext-margin-top {
  margin-top: 1em;
}

.witty-works-ext-lato-popover-text {
  font-family: $lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 214% */
  color: $black;
}

.witty-works-ext-justify-space-between {
  justify-content: space-between;
}

.witty-works-ext-explanation-icon {
  font-size: 2em;
  margin-right: 0.5em;
}

.witty-works-ext-explanation-icon-image {
  width: 2em;
  margin-right: 1em;
}

.witty-works-ext-container-row {
  display: flex;
  flex-direction: row !important;

  &:nth-child(2) {
    white-space: nowrap;
    column-gap: 8px;
  }
}

.witty-works-ext-justify-start {
  justify-content: flex-start;
}

.witty-works-ext-justify-end {
  justify-content: flex-end;
}

.witty-works-ext-lato-popover-text-gray {
  font-family: $lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 214% */
  color: $extraDarkGray;
}

.witty-works-ext-cursor-pointer {
  cursor: pointer;
}

.witty-works-ext-secondary-button-red {
  border: 1px solid $orange;
  border-radius: 8px;
  color: $orange;
  padding: 0.4em;
}

.witty-works-ext-primary-button-red {
  background: $orange;
  border-radius: 8px;
  color: $white;
}

.witty-works-ext-margin-left {
  margin-left: 0.5em;
}

.witty-works-ext-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;

  button {
    margin-right: 8px;
    outline-offset: 4px;
  }
}

.witty-works-ext-button-wrapper.hovered {
  height: auto;
}

.witty-works-ext-button-wrapper.hovered button {
  height: auto;
  white-space: normal;
}

.witty-works-ext-ignore-color-transformer {
  filter: invert(38%) sepia(2%) saturate(0%) hue-rotate(73deg) brightness(100%) contrast(89%);
  background-color: transparent;

  &:hover {
    filter: invert(39%) sepia(86%) saturate(747%) hue-rotate(323deg) brightness(109%) contrast(80%);
    color: $orange;
    cursor: pointer;
  }
}

.witty-works-ext-ignore-text {
  padding: 0em 0 0.3em !important;
  font-size: 14px;
  padding-bottom: 0em;
  white-space: nowrap !important;
  align-items: center;
  justify-content: flex-start !important;
  margin-right: 0.5em !important;
}