<ng-container *ngIf="error && context">
    <div class="error-box">
        <header class="header" (click)="toggle()">
            <div class="preview" *ngIf="showContext" [innerHTML]="getContext(error.word) | highlight:error.word"></div>
            <div class="preview" *ngIf="!showContext">{{ error.word }}</div>
            <div class="toggle" [class.active]="isOpen" tabindex="0" (keydown.enter)="toggle()" role="button">
                <img src="assets/icons/chevron-down.svg" alt="Toggle display of box content">
            </div>
        </header>
        

        <section class="suggestions" *ngIf="isOpen">
            <div
            class="witty-works-ext-wittyworks-container witty-works-ext-container-rounded witty-works-ext-full-padding witty-works-ext-justify-start"
            [ngStyle]="containerStyle"
          >
            <div
              class="witty-works-ext-lato-popover-text witty-works-ext-justify-space-between"
              [ngStyle]="textContainerStyle"
            >
              <div class="witty-works-ext-container-row witty-works-ext-justify-start">
                <div class="witty-works-ext-explanation-icon">{{error.details.explanation.icon}}</div>
                {{error.details.explanation.text}}
                {{error.details.explanation.context ? ' (' + error.details.explanation.context + ')' : ''}}
              </div>

              <ng-container *ngIf="error.details.explanation?.url">
                <div class="witty-works-ext-container-row witty-works-ext-justify-end witty-works-ext-lato-popover-text-gray witty-works-ext-cursor-pointer"
                     [ngStyle]="urlContainerStyle"             
                     (click)="onClick()"
                     tabindex="0"
                     (keydown.enter)="onClick()"
                     role="link"
                     >
                  <div class="witty-works-ext-secondary-button-red witty-works-ext-container-row">
                    Learn more
                    <ng-container *ngIf="error.details.explanation.content === 'video'">
                        <img class="witty-works-ext-margin-left" src="assets/icons/video.svg" alt="A video is available for more learning">
                    </ng-container>
                    <div
                      class="witty-works-ext-margin-left"
                      style="pointer-events: 'none'"
                    >
                      <ng-container *ngIf="showLearningBite; else elseBlock">
                        <img src="assets/icons/arrow-up.svg" alt="The learning bite section is open">
                      </ng-container>
                      <ng-template #elseBlock>
                        <img src="assets/icons/arrow-down.svg" alt="The learning bite section is closed">
                      </ng-template>
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
          <div class="suggestion-title witty-works-ext-margin-top" *ngIf="hasValidSuggestions()">Try instead...</div>
          <ng-container *ngFor="let suggestion of suggestions.slice(0, 5)">
                <button *ngIf="suggestion.text.length > 0" (click)="acceptSuggestion(suggestion)">{{ suggestion.text }}</button>
                <br>
            </ng-container>
        </section>
    </div>
</ng-container>