@import '../styles/variables';

:host {
  background: $whiteGray;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $darkGray;
  flex-shrink: 0;

  .tablist {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  } 
  
  .tab {
    font-family: $lato;
    font-size: 14px;
    width: 50%;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $darkGray;

    &.selected {
      font-weight: $bold;
      border-top: 2px solid $orange;
    }
  }
}
