@import '../styles/variables';

.number-spelling-errors {
  margin-top: 1em;
  margin-bottom: 1em;
}

.full-size-notification {
  height: calc(100vh - 155px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.witty-works-ext-button {
  display: flex;
  padding: 10px 15px;
  gap: 10px;
  font-family: $lato;
  font-style: normal;
  font-weight: $regular;
  font-size: 16px;
  line-height: 14px;
  margin-right: 1em;
  cursor: pointer;
}

.witty-works-ext-primary-button-red {
  background: $orange;
  border-radius: 8px;
  color: $white;
}
