<div>
    <div style="display: flex; align-items: center;">
        <button *ngIf="isLoggedin" tabindex="0" class="witty-works-ext-button witty-works-ext-primary-button-red"
            (click)="checkText()">{{lang.wittyCheck}}</button>
        <ngx-spinner bdColor="rgb(255, 255, 255)" size="medium" color="#f06464" type="line-scale"
            [showSpinner]="isSpellchecking" style="opacity: 70%; z-index: 99999999;"></ngx-spinner>
    </div>

    <div *ngIf="!isLoggedin && !isLoggedInWord" tabindex="0" class="number-spelling-errors">
         <p>{{lang.wittyInfos}}</p>
    </div>

    <div *ngIf="!isLoggedin && isLoggedInWord" tabindex="0" class="number-spelling-errors">
        <p>{{lang.wittyInfos}}</p>

        <br />

        <p>{{lang.pleaseRegister}}</p>

        <br />
        <div class="button-spinner-row">
            <button class="witty-works-ext-button witty-works-ext-primary-button-red"
                (click)="register()">{{lang.register}}</button>
      
            <div *ngIf="showSpinner" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>

    <div *ngIf="isLoggedInWord && highlights.length > 0" class="number-spelling-errors">
        {{ highlights.length }} {{highlights.length == 1 ? lang.suggstion : lang.suggstions}}:
    </div>

    <div *ngIf="hitMaxTextLength && isLoggedInWord && !isFirstRun && highlights.length > 0" class="max-length-reached-banner">
        <span>{{lang.hitMaxTextLength1}}</span>
        <span class="max-length-reached-banner-link" (click)="highlightCheckedText()">{{lang.hitMaxTextLengthHere}}</span>
        <span>{{lang.hitMaxTextLength2}}</span>
    </div>

    <app-errors-list [highlights]="highlights" [paragraphs]="paragraphsWithIds" (highlightEvent)="highlight($event)"
        (acceptSuggestionEvent)="acceptSuggestion($event)" *ngIf="isLoggedInWord && !isFirstRun && highlights.length > 0">
    </app-errors-list>

    <div class="full-size-notification" *ngIf="isLoggedInWord && isFirstRun && isLoggedin">
        <span>{{lang.clickWittyCheck}}</span>
    </div>

    <div class="full-size-notification" *ngIf="isLoggedInWord && !isFirstRun && highlights.length === 0 && !noParagraphsSelected && !isSpellchecking">
        <span>{{lang.noFurtherSuggestions}}</span>
    </div>

    <div class="full-size-notification" *ngIf="isLoggedInWord && !isFirstRun && noParagraphsSelected">
        <span>{{lang.noParagraphsSelected}}</span>
    </div>

    <ng-template #errorDialog>
        <header>
            <h4>{{lang.error}}</h4>
        </header>
        <div>
            <p>{{ errorIntro }}: <em>{{ errorMessage }}</em></p>
            <p style="margin-top: 24px;">{{lang.tryAgain}}</p>
        </div>
        <footer>
            <button class="secondary" (click)="dialogRef?.close(undefined)"
                style="margin-right: 12px;">{{lang.dontAnalyzeAgain}}</button>
            <button (click)="dialogRef?.close('search')">{{lang.analyzeAgain}}</button>
        </footer>
    </ng-template>
</div>