<virtual-scroller #scroll [items]="highlights" [enableUnequalChildrenSizes]="true">
        <ol>
                <li *ngFor="let errorItem of scroll.viewPortItems; let i = index">
                        <app-error 
                                [error]="errorItem"
                                [context]="paragraphs[errorItem.paragraph] && paragraphs[errorItem.paragraph].text" 
                                [showContext]="showContext"
                                (highlightEvent)="sendHighlight(errorItem.paragraph, scroll.viewPortInfo.startIndexWithBuffer + i)"
                                (acceptSuggestionEvent)="acceptSuggestion(errorItem.paragraph, scroll.viewPortInfo.startIndexWithBuffer + i, $event)"
                        ></app-error>
                </li>
        </ol>
</virtual-scroller>
