@import '../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
  overflow-y: scroll;

  &::-webkit-scrollbar{
    display: none;
  }
}
.select {
  width: calc(100% - 2px);
}

.toggle {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  .toggler {
    width: 45px;
  }

  .description {
    margin-left: 16px;
  }
}

.spellchecker-version {
  font-size: 10px;
  text-align: right;
  margin-right: 2px;
}

.witty-works-ext-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-right: 1em;

  img {
    cursor: pointer;
  }

}

.witty-works-ext-wittyworks-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-bottom: 0.5em;
}

.witty-works-ext-container-row {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.witty-works-ext-justify-space-between {
  justify-content: space-between;
}

.witty-works-ext-lato-popup-title {
  font-family: $lato;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px; /* or 214% */
  color: $black;
  margin-bottom: 1em;
}

.witty-works-ext-separator {
  background-color: $whiteGray;
  border: 0;
  height: 1px;
  width: 110%;
  margin-left: -1em;
  margin-bottom: 1em;
  overflow: hidden;
}

.witty-works-ext-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.witty-works-ext-button {
  display: flex;
  padding: 10px 15px;
  gap: 10px;
  font-family: $lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  margin-right: 1em;
  cursor: pointer;
}

.witty-works-ext-primary-button-red {
  background: $orange;
  border-radius: 8px;
  color: $white;
}

.witty-works-ext-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0.5em;
  margin-bottom: 1em;
}


.witty-works-ext-lato-popup-text {
  font-family: $lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px; /* or 214% */
  color: $black;
}